name: shaders
description: Simple shader examples in Flutter.
publish_to: 'none'
version: 0.1.0

environment:
  sdk: '>=3.1.1 <4.0.0'

dependencies:
  fast_noise: ^2.0.0
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/
  shaders:
    - shaders/smooth_clip.frag
    - shaders/floating_gradient.frag
